header{
    height: 20vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 153, 0);
}

.successDark{
    background-color: rgb(0, 56, 0);
    border: 1px solid rgb(255, 230, 0);;
}

h1{
    color: rgb(224, 166, 39);
}

.subHeader{
    width: 80vw;
}

.porterito{
    width: 40vw;
    height: auto;
    background-color: rgb(0, 56, 0);
}

.botonStyle{
    background-color: #3f3d3d;
    color: #f3f3f3;
    width: 5vw;
    height: 5vw;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid #000;
}

.btn:hover{
    color: #f3f3f3;
}

.botonStyle:active{
    color: rgb(24, 119, 40);
    border: 2px solid rgb(24, 119, 40);
    animation: 0ms;
}

.alinear{
    text-align: -webkit-center;
}

.cajita{
    width: 8vw;
    height: 15vh;
    background-color: rgb(0, 153, 0);
    font-family: 'Quantico', sans-serif;
    font-size: 3em;
    border: 3px solid black;
}

input[type=text]{
    width: 60%;
}






